*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.banner
{
    width: 100%;
    height: 100%;
    background-color: #191919;
}
.navbar
{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo
{
    padding-left: 0px;
    padding-right: 10px;
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar ul li a.active
{
    background-color:  #009688;
    color: #fff;
    border: 10px solid #009688;
    border-radius: 25px;
}
.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after
{
    width: 100%;
}
/*About Section*/
.about
{
    background-color: #191919;
    overflow: hidden;
}
.header h1
{
    color: aqua;
    font-size: 40px;
    text-align: center;
    margin-top: 35px;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.about-content
{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}
.about-content h3
{
    font-size: 30px;
    margin-bottom: 20px;
    color: #7FFFD4;
}
.about-content p
{
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #fff;
    background-color:#5F9EA0;
    border: 20px solid #5F9EA0;
    border-radius: 25px;
    
}
.about img
{
    flex: 1;
    width: 500px;
    margin: auto;
}
img
{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/*Footer*/
.footer-container
{
    max-width: 85%;
    margin: auto;
}
.row
{
    display: flex;   
}
ul
{
    list-style: none;
}
.footer
{
    background-color: #404040;
    padding: 20px;
}
.footer-col
{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4
{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.footer-col ul li a
{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover
{
    color: #E0E0E0;
    padding-left: 8px;
}
.footer-col .social-links
{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover
{
    color: #24262b;
    background-color: #fff;
}
.footer-container p
{
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}